table {
    width: 20%;
    height: 100%;
    /*background-color: white;*/
    color: white;
    top: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

#toptable {
    float: right;
}

td, tr {
    border: 1px solid white;
    padding: 3px;
}

#content {
    display: block;
}

body {
    color: white;
}


#answerPrompt {
    left: 85%;
    position: fixed;
    top: 90%;
    height: 50px;
    font-size: 20px;
}

#prompt {
    z-index: 10;
    position: fixed;
    color: black;
    background-color: white;
    border: 5px solid black;
    text-align: center;
    padding: 20px;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#submitanswer {
    z-index: 10;
    position: fixed;
    color: black;
    background-color: white;
    border: 5px solid black;
    text-align: center;
    padding: 20px;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

